.desktop {
    background-color: #223843;
    padding: 10px;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.options {
    text-align: right;
}

.desktop > ul {
    color: white;
}

.options > li {
    position: relative;
    display: inline-block;
    padding: 0 30px;
}

.link {
    color: whitesmoke;
    text-decoration: none;
    position: relative;
}

.link:visited,
.link:active,
.link:link {
    color: whitesmoke;
    text-decoration: none;
}

.link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: whitesmoke;
    transition: width 0.3s ease-in-out;
  }
  
.link:hover::after {
    width: 100%;
  }